

.header {
  background-color: #4e4948;
}
.title {
  color: #c5c3c3;
  padding: 30px 0;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.aside_box {
  width: 800px;
  background-color:#c5c3c3;
  border-radius: 20px;
  margin: 50px auto;  
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table tr{
  border-bottom: solid 1px #eee;
}



table th,table td{
  text-align: center;
  width: 25%;
  padding: 15px 0;
}

.context {
  text-align: center;
}

.context {
  font-size: 20px;
}

td a {
  cursor:pointer;
  color:#797676;
}

td a:hover {
  text-decoration: none;
  color:#636363;
}

main {
  color:#797676;
}

.btn-secondary{
  width: 300px;
  height: 40px;
}

@media (max-width:1050px) { 


  .audi {
    width: 300px;
    height: 40px;
  }

  .aside_box {
    width: 700px;
  }

}

@media (max-width:770px){

  .audi {
    width: 200px;
    height: 40px;
  }

  .aside_box {
    width: 500px;
  }
}



/* 400以下であれば */
@media (max-width:500px) { 

  table {
    font-size: 13px;
  }

  .audi {
    width: 160px;
    height: 20px;
  }

  .aside_box {
    width: 350px;
  }

}
