{% extends 'base.html' %}
{% load static %}

{% block customcss %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
{% endblock customcss %}

{% block header %}
<div class="header">
  <p class="title">MusicPlay</p>
</div>
{% endblock header %}
{% block content %}
<form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="作成する">
</form> 

<hr>
<a href="{% url 'list' %}" class="btn btn-outline-secondary">戻る</a>
{% endblock %}